*
!/{liboctopus,ode-essentials,ode-logic,ode-napi,ode-renderer,ode-rasterizer,open-design-text-renderer,ode-media,ode-graphics}/**/*.{cpp,h,txt,js,d.ts,cc,c,hpp}
!/ode-napi/typescript-bindings/*
!/CMakeLists.txt
!/version.cmake
!/vcpkg.json
!/index.js
